<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-box">
                <a href="/onesite">One</a>
                <a href="/multisite">Multiple</a>
            </div>
        </div>
    </div>
</div>