<h2>One site page</h2>

<form action="/onesite" method="POST">
    <input type="text" name="site" placeholder="Write the website">
    <div class="phone">
        <input type="text" name="receiver" id ="receiver" placeholder="Enter Phone Number" disabled>
        <input type="checkbox" name="update" id ="update" value="yes" onclick="getUpdate(this)">
        <small>an sms is sent every 15 minutes (4 / hour)</small>
    </div>
    <button type="submit">Check</button>

</form>


<h2>{{result}}</h2>
<h2>{{name}}</h2>
<h2>{{msg}}</h2>


<script src="/js/frontendScripts.js"></script>